@use "./variables" as *;

@mixin button($value) {
  background-color: $value;

  &:hover {
    opacity: 0.2;
  }
}

//below are not actually used in this codebase but examples for how to customize mixins

// .article-card {
//   @include hover-highlight($light-orange, 1px, 6px);
// }

// .feature-card {
//   @include hover-highlight($blue, 2px, 4px);
// }
// mixins classes like above should be used in the class itself with @include and should not be created in the mixin itself

@mixin hover-cursor {
  cursor: pointer;
}

@mixin underline-style($color: $light-orange, $thickness: 1px, $offset: 4px) {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: $color;
  text-decoration-thickness: $thickness;
  text-underline-offset: $offset;
}

@mixin hover-item-title($color: $light-orange, $thickness: 1px, $offset: 4px) {
  &:hover .item-title {
    @include underline-style($color, $thickness, $offset);
  }
}

@mixin hover-highlight($color: $light-orange, $thickness: 1px, $offset: 4px) {
  @include hover-cursor();
  @include hover-item-title($color, $thickness, $offset);
}

@mixin rumble-brand(
  $color: $dark-orange,
  $font-size: 18px,
  $font-weight: bold
) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin heart-button($position: absolute, $top: 10px, $right: 10px) {
  position: $position;
  top: $top;
  right: $right;
  background-color: #ff7f50;
  border-radius: 50%;
  padding: 0.75rem;
  color: white;

  &:hover {
    background-color: rgba(224, 108, 69, 0.936);
  }
}
