//examples so far not in actual project

$font-crimson-pro: "Crimson Pro", serif;
$font-mulish: "Mulish", sans-serif;

$red: #ff595e;
$blue: #0a2463;
$yellow: #f9cb40;

$light-orange: #ff7f50;
$dark-orange: #FF6A36;

$cursors: pointer auto inherit;

//scss map
$theme-colors: (
  "primary": $red,
  "secondary": $blue,
  "warning": $yellow,
);

// $btn-background: #FF595E;
