@use '../abstracts/variables' as *;

.article-card:hover .article-card-title {
  text-decoration: underline;
  text-decoration-color: $light-orange;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}
